body{
    background-color: #e6f7ff;
}
.jumbotron {
    background-image: url("../img/dna-bacterias.jpg");
    background-size: cover;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}